plataforma-mentoria-mario-firebase-adminsdk-fbsvc-de3cee0400.json
service-account.json

# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.firebase/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
